/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    color: #b57edc !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #b57edc !important;
}

.navbar-toggler {
    border: none;
}
